body {
    background-image: url("Imgs/manwithlaptop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    margin: 0%;
}

.maintext {
    width: 100vw;
    height: 100vh;
    font-size: 2.3vw;
    color: white;
    font-family: "sofachrome", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.collection {
    margin-top: -110px;
    animation: bouncedamenu ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.dropdown {
    display: flex;
    width: 80vw;
    height: 55px;
    background-color: #434343;
    opacity: 66%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.menunav {
    display: flex;
    width: 100vw;
    height: 110px;
    background-color: #2c2c2c;
    /* opacity: 66%; */
    margin: 0 auto;
    flex-direction: row;
    font-family: sofachrome;
    font-size: 80%;

}



.topbuttons {
    display: flex;
    color: white;
    margin: 2%;
    flex: 1;
    cursor: pointer;
}

#topmid{
    justify-content: center;
}

#topleft{
    justify-content: left;
}

#topright{
    justify-content: right;
}

.arrow {
    height: 35%;
    /* cursor: pointer; */
    z-index: -1;

}


.arrowflip {
    animation: 0.5s ease-in 0s arrowmove;
    animation-fill-mode: forwards;
}

.arrowflipback {
    animation: 0.5s ease-in 0s arrowmoveback;
    animation-fill-mode: forwards;
}

.dropdownarrow {
    animation: 0.5s ease-in 0s dropdown;
    animation-fill-mode: forwards;
}

.dropuparrow {
    animation: 0.5s ease-in 0s dropup;
    animation-fill-mode: forwards;
}

.menubuttons {  
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
    margin-top: 1.5%;
}



@keyframes dropdown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(90px);
    }
}

@keyframes arrowmove {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 180deg;
    }
}

@keyframes dropup {
    0% {
        transform: translateY(90px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes arrowmoveback {
    0% {
        rotate: 180deg;
    }

    100% {
        rotate: 360deg;
    }
}


@keyframes bouncedamenu {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(40px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
    }
}